{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Add Reader {% endblock %}

{% block content %}

    <h3>To add a reader, fill out the form below</h3>

    <div class="row">
        <div class="col-6 align-self-center">
            <form action="{% url 'dashboard:add_reader' %}" method="POST">
                {% csrf_token %}
                {{ add_reader_form | crispy }}
                <button class="btn btn-success mb-3">Save</button>
            </form>
        </div>
    </div>

{% endblock %}