{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Messages{% endblock %}

{% block content %}


<div class="row" style="background-color: rgb(179, 179, 179);">
    <div class="col-1 ms-5 my-3">
        <a class="" href="#">
            <img alt="" width="60" height="60" src="{{ reader.picture.url }}">
        </a>
    </div>
    <div class="col-6 my-3">
        <span class="">
            <a href="#" class="">
                {{ reader.first_name }} {{ reader.last_name }}
            </a>
        </span>
        <br>
        <span class="">
            <a class="">{{ reader.email }}</a>
        </span>
    </div>
</div>
<hr>

{% if reader_messages %}
    {% for message in reader_messages %}
        <div class="col-6 my-3">
            <span class="">
                <a href="#" class="">
                    {{ message.admin.first_name }} {{ message.admin.last_name }}
                </a>
            </span>
            <div class="">
                <div class="">
                        <span>{{ message.created_at }}</span>
                </div>
            </div>
            <div class="">
                <p>
                    {{ message.text }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endif %}


<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-6">
        <form method="POST">
            {% csrf_token %}
            {{ message_form | crispy }}
            <button class="btn btn-success mb-3">Send</button>
        </form>
    </div>
</div>


{% endblock %}