<div class="row">
    <div class="topic-avatar">
        <div class="post-avatar">
            <a class="trigger-user-card main-avatar " href="/u/chrissyhroberts" data-user-card="chrissyhroberts" aria-hidden="true" tabindex="-1">
                <img alt="" width="48" height="48" src="https://getodk.b-cdn.net/user_avatar/forum.getodk.org/chrissyhroberts/48/1729_2.png" aria-hidden="true" loading="lazy" tabindex="-1" class="avatar">
            </a>
        </div>
    </div>
    <div class="topic-body clearfix">
        <div role="heading" aria-level="2" class="topic-meta-data">
            <div class="names trigger-user-card">
                <span class="first username group--TAB">
                    <a href="/u/chrissyhroberts" data-user-card="chrissyhroberts" class="">chrissyhroberts</a>
                </span>
                <span class="user-title user-title--technical-advisory-board user-title--tab">
                    <a class="user-group" href="/g/TAB" data-group-card="TAB">Technical Advisory Board</a>
                </span>
            </div>
            <div class="post-infos">
                <div class="post-info post-date">
                    <a class="widget-link post-date" href="/t/sending-a-text-message-sms-or-email-from-a-form-in-collect/13874/11" title="Post date">
                        <span title="Oct 17, 2018 7:01 pm" data-time="1539784869741" data-format="tiny" class="relative-date">Oct '18</span>
                    </a>
                </div>
                <div class="read-state read" title="Post is unread">
                    <svg class="fa d-icon d-icon-circle svg-icon svg-node" aria-hidden="true">
                        <use xlink:href="#circle"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="regular contents">
            <div class="cooked">
                <p>
                    Just to add to this thread a use case for email capability, though perhaps at Aggregate end and not on devices.
                </p>
        </section>
        <div class="post-links-container">
        </div>
    </div>
</div>